*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: inherit;
  scroll-behavior: smooth; }

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem; }

.heading-1 {
  font-family: sans-serif;
  font-size: 3.5rem;
  font-weight: 700; }

.heading-3 {
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: 400; }

/****************************************
/*Header Section*/
.header {
  background-color: #fcdb00;
  height: 100vh; }
  .header .main {
    width: 120rem;
    margin: 0 auto;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: space-between; }
  .header .nav {
    justify-self: start; }
    .header .nav_logo {
      display: flex;
      align-items: center;
      gap: 2rem; }
      .header .nav_logo-img {
        width: 4.5rem;
        height: 4.5rem; }
      .header .nav_logo-text {
        font-size: 2.3rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        text-align: center;
        filter: blur(0.03rem); }
  .header .navigation {
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .header .navigation_list {
      list-style: none;
      font-size: 1.8rem;
      font-weight: 600;
      filter: blur(0.03rem);
      display: flex;
      gap: 10rem; }
    .header .navigation_link:link, .header .navigation_link:visited {
      display: inline-block;
      color: #010101;
      text-decoration: none;
      transition: all .2s; }
    .header .navigation_link:hover, .header .navigation_link:active {
      color: #fff;
      transform: translateY(-3px); }

.features {
  width: 120rem;
  margin: 0 auto;
  padding-top: 20rem; }

/*Hero Section*/
.hero {
  width: 120rem;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: center; }
  .hero_title {
    margin-bottom: 3rem; }
  .hero_sub {
    margin-bottom: 3rem;
    color: #232323; }
  .hero_p {
    margin-bottom: 4rem;
    font-weight: 300; }
  .hero .device {
    display: flex;
    gap: 6rem; }
    .hero .device_icon {
      font-size: 4rem;
      display: inline-block;
      transition: all .2s; }
    .hero .device_icon:hover {
      color: white;
      transform: translateY(-3px); }

.hero_illu {
  justify-self: end; }
  .hero_illu .hero_img {
    width: 40rem;
    height: auto; }

.visual {
  position: relative; }
  .visual .carousel {
    margin-top: 8rem;
    display: flex;
    gap: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .visual .carousel_white {
      width: 1.8rem;
      height: 1.8rem;
      background-color: white;
      border-radius: 50%;
      transition: all .2s;
      cursor: pointer; }
      .visual .carousel_white--2 {
        background-color: white;
        width: 1.5rem;
        height: 1.5rem;
        filter: brightness(90%); }
      .visual .carousel_white--2:hover {
        width: 1.8rem;
        height: 1.8rem;
        filter: brightness(100%); }
