/****************************************
/*Header Section*/

.header {
    background-color: $color-primary;

    @media only screen and (max-width: $bp-largest) {
        width: 130rem;
        padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-large) {
        width: 100%;
    }


    @media only screen and (max-width: $bp-small) {
        width: 100%;
    }

    .main {
        margin: 0 auto;
        width: 120rem;
        background-color: $color-primary;
        padding-top: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        justify-content: space-between;

        @media only screen and (max-width: $bp-largest) {
            width: 100%;
            padding-top: 5rem;
        }

        @media only screen and (max-width: $bp-large) {
            width: 120rem;
            padding-top: 5rem;
            padding-right: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }

    }

    .nav {
        justify-self: start;

        &_logo {

            display: flex;
            align-items: center;
            gap: 2rem;

            &-img {
                width: 4.5rem;
                height: 4.5rem;
            }

            &-text {
                font-size: 2.3rem;
                font-family: 'Noto Sans', sans-serif;
                font-weight: 600;
                text-align: center;
                filter: blur(0.03rem);
            }
        }
    }

    .navigation {
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_list {
            list-style: none;
            font-size: 1.8rem;
            font-weight: 600;
            filter: blur(0.03rem);
            display: flex;
            gap: 10rem;

            @media only screen and (max-width: $bp-small) {
                gap: 7rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                gap: 5rem;
            }
        }

        &_link:link,
        &_link:visited {
            display: inline-block;
            color: $color-secondary;
            text-decoration: none;
            transition: all .2s;
        }

        &_link:hover,
        &_link:active {
            color: #fff;
            transform: translateY(-3px);
        }


    }
}