/****************************************
/*Header Section*/

.header {

    background-color: $color-primary;


    @media only screen and (max-width: $bp-largest) {
        width: 130rem;
        padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-large) {
        width: 100%;
    }


    @media only screen and (max-width: $bp-small) {
        width: 100%;
    }

    .main {
        position: relative;
        margin: 0 auto;
        width: 120rem;
        background-color: $color-primary;
        padding-top: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        justify-content: space-between;


        @media only screen and (max-width: $bp-largest) {
            width: 100%;
            padding-top: 5rem;
        }

        @media only screen and (max-width: $bp-large) {
            width: 120rem;
            padding-top: 5rem;
            padding-right: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
        }

    }

    .nav {
        justify-self: start;

        &_logo {

            display: flex;
            align-items: center;
            gap: 2rem;

            &-img {
                width: 4.5rem;
                height: 4.5rem;
            }

            &-text {
                font-size: 2.3rem;
                font-family: 'Noto Sans', sans-serif;
                font-weight: 600;
                text-align: center;
                filter: blur(0.03rem);
            }
        }
    }

    .navigation {
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .3s;

        &_list {
            list-style: none;
            font-size: 1.8rem;
            font-weight: 600;
            filter: blur(0.03rem);
            display: flex;
            gap: 10rem;

            @media only screen and (max-width: $bp-small) {
                gap: 7rem;
                z-index: 200;
                flex-direction: column;
                position: absolute;
                vertical-align: middle;
                justify-content: center;
                align-items: center;
                height: 100vh;
                top: 0%;
                right: -5rem;
                background-color: $color-secondary;
                width: 50%;
                color: $color-primary;
                transform: translateX(100rem);
                opacity: 0%;
                visibility: hidden;
                transition: all .3s;
            }

            @media only screen and (max-width: $bp-smallest) {
                gap: 5rem;
            }
        }

        &_link:link,
        &_link:visited {
            display: inline-block;
            color: $color-secondary;
            text-decoration: none;
            transition: all .2s;

            @media only screen and (max-width: $bp-small) {
                color: $color-primary;
                font-size: 4rem;
            }
        }

        &_link:hover,
        &_link:active {
            color: #fff;
            transform: translateY(-3px);
        }


    }
}

.navigation_button {
    font-size: 5rem;
    border: none;
    background-color: $color-primary;
    position: absolute;
    left: 50%;
    top: -100%;
    cursor: pointer;
    display: none;
    z-index: 1;
    grid-column: 3/4;

    @media only screen and (max-width: $bp-small) {
        display: block;
        top: 50%;
        left: 100%;
        justify-self: end;
    }

    &:hover {
        color: white;
    }

}

.navigation_button:focus+.navigation_list {
    opacity: 100%;
    visibility: visible;
    transform: translateX(0);
}

.navigation_button:focus~.navigation_list {
    opacity: 100%;
    visibility: visible;
    transform: translateX(0);
}

.navigation_button:focus~button {
    visibility: hidden;
    opacity: 0%;
}


.navigation_list {
    position: relative;
}

.navigation_close {
    border: none;
    font-size: 8rem;
    background-color: inherit;
    color: $color-primary;
    position: absolute;
    top: 50%;
    right: 5%;
    transition: all .2s;
    opacity: 0%;
    visibility: hidden;
    z-index: 1000;

    &:active {
        color: #fff;
    }
}

.sticky {
    position: fixed;
    top: 0;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    width: 100%;
    z-index: 3000;
}