// Colors 
$color-primary : #fcdb00;
$color-secondary : #010101;
$paragraph-text-light : #7c7c7c;
$paragraph-text-light-2 : #989797;

$bp-largest : 81.25em;
$bp-large : 75em;
$bp-smaller : 65em;
$bp-small : 56.25em;
$bp-smallest : 37.5em;