.visual {

    position: relative;

    .carousel {
        margin-top: 8rem;
        display: flex;
        gap: 3rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &_white {
            width: 1.8rem;
            height: 1.8rem;
            background-color: white;
            border-radius: 50%;
            transition: all .2s;
            cursor: pointer;

            &--2 {
                background-color: white;
                width: 1.5rem;
                height: 1.5rem;
                filter: brightness(90%);
            }

            &--2:hover {
                width: 1.8rem;
                height: 1.8rem;
                filter: brightness(100%);
            }
        }
    }

}