.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 2rem;


    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }

    &_icon {
        font-size: 5rem;
        transform: translateY(-25%);
        grid-row: 1/3;
        justify-self: end;

        @media only screen and (max-width: $bp-small) {
            transform: translateY(0);
            justify-self: center;
            align-items: end;
            grid-row: 1/3;
        }

        @media only screen and (max-width: $bp-smallest) {
            align-self: center;
        }

    }

    &_title {}

    &_text {
        grid-column: 2/3;
    }
}